{% extends 'main.html' %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                 <h1><span class="glyphicon glyphicon-edit"> </span> Güncelle </h1>
                <h3 class="lead">{{ post.doc_name }}</h3>
                   <form method="POST" action="" enctype="multipart/form-data">
                {% include 'form_base.html' %}
            </form>
                <hr>
                {% include 'form_base.html' %}
            </div>
        </div>
    </div>
{% endblock %}