{% extends 'main.html' %}

{% block title %}   {{ post.doc_name }}  {% endblock %}


{% block body %}


<div class="container">
<div class="card">
	<div class="row">
		<aside class="col-sm-5 border-right">
<article class="gallery-wrap">
<div class="img-big-wrap">
  <div> <a href="#"><img src="{{ post.doc_image_link }}" style="max-height:600px;max-width:400px"></a></div>
</div> <!-- slider-product.// -->



</article> <!-- gallery-wrap .end// -->
		</aside>
		<aside class="col-sm-7">
<article class="card-body p-5">
	<h3 class="title mb-3">{{ post.doc_name }}</h3>

<p class="price-detail-wrap">
	<span class="price h3 text-warning">
		  <span class="currency" style="color:#4c8bf5"><span class="glyphicon glyphicon-user" style="color:grey"></span> @username</span>
	</span>
</p> <!-- price-detail-wrap .// -->
	<hr>
<dl class="item-property">
  <dt>Hakkında</dt>
  <dd><p>{{ post.doc_content }} </p></dd>
</dl>
<dl class="param param-feature">
  <dt>Etiketler</dt>
  <p class="tags">
	  {% for tag in post.tags.all %}
		<span class="badge badge-primary"> {{ tag }}</span>
	{% endfor %}
 </p>
</dd>
</dl>  <!-- item-property-hor .// -->


<hr>
	<a href="{{ post.doc_link }}" target="_blank" class="btn btn-lg btn-primary text-uppercase">
		<span class="glyphicon glyphicon-download-alt"></span> Hemen İndir </a>
	<a href="{% url 'post:index' %}" class="btn btn-lg btn-outline-primary"> <i class="fas fa-home" aria-hidden="true"></i> Ana Sayfaya Dön </a>
</article> <!-- card-body.// -->
			</aside> <!-- col.// -->
	</div> <!-- row.// -->



</div> <!-- card.// -->


</div>

<div class="container content"> <div id="carousel-example-generic" class="carousel slide" data-ride="carousel"> <!-- Indicators -->

	<!--<ol class="carousel-indicators"> -->
		<!--<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>-->
		<!--<li data-target="#carousel-example-generic" data-slide-to="1"></li>-->
		<!--<li data-target="#carousel-example-generic" data-slide-to="2"></li>-->
	<!--</ol> &lt;!&ndash; Wrapper for slides &ndash;&gt; -->
<br>




	<hr>
	<div class="carousel-inner">
		<div class="item active"> <div class="row"> <div class="col-xs-12">
			<div class="col-md-2 col-sm-2 col-xs-12"> <img class="media-object img-rounded img-responsive" src="{{ last_post.doc_image_link }}"> </div>
			<div class="col-md-10 col-sm-10 col-xs-12"> <div class="caption"> <p class="text-info lead adjust2">{{ last_post.doc_name }}</p>
				<p><span class="glyphicon glyphicon-thumbs-up"></span> {{ last_post.doc_content }}.</p>
				<blockquote class="adjust2"> <p>@bygogame</p> <small><cite title="Source Title">
					<a href="{{ last_post.get_detail_url }}"> Hemen Git</a></cite>
				</small> </blockquote> </div> </div>

	</div> </div> </div>

</div>  </div> </div>
<br>


<h2 class="Head" style="margin:2%">Benzer Konular</h2>



{% for same_post in similar_posts %}
<div class="thumbnail" style="margin:2%">
		<div class="media">
		<div class="media-left align-self-center">
			<img class="rounded-circle" src="{{ same_post.doc_image_link }}" style="max-height:100px;max-width:100px">
		</div>
		<div class="media-body">
			<h4>{{ same_post.doc_name }}</h4>
			<p>{{ same_post.doc_content|safe|truncatechars:150 }}</p>
			<div class="media align-self-center">
				<a href="{{ same_post.get_detail_url }}"	class="btn btn-info btn-sm">
				  <span class="glyphicon glyphicon-share"></span> Hemen Bak
				</a>		</div>
		</div>

	</div>
	</div>
{% empty %}
Henüz bu konuya benzer bir dosya yok.
        <a  type="button" href="{{ post.get_create_url }}" class="btn  btn-sm">
          <span class="glyphicon glyphicon-share"></span> Hemen Ekle
        </a>
      </p>

{% endfor %}





</ul>

<hr>
<br>

{% endblock %}

