    <footer class="footer_area">
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-sm-6">
						<div class="single_ftr">
							<h4 class="sf_title">Sosyal Medya</h4>
							<ul>
								<li>4080 Repperts Coaol Road Sackson, MS 00201 USA</li>
								<li>(+123) 685 78 455 <br> (+064) 336 987 245</li>
								<li>Contact@yourcompany.com</li>
							</ul>
						</div>
					</div> <!--  End Col -->

					<div class="col-md-4 col-sm-6">
						<div class="single_ftr">
							<h4 class="sf_title">İletişim</h4>
							<ul>
								<li><a href="#">Hakkında</a></li>
								<li><a href="#">Terms & Conditions</a></li>
								<li><a href="#">Contact Us</a></li>
							</ul>
						</div>
					</div> <!--  End Col -->


					<div class="col-md-4 col-sm-6">
						<div class="single_ftr">
							<h4 class="sf_title">Son Paylaşımlar</h4>
							<div class="newsletter_form">
								<p>Son paylaşımlardan haberdar olmak için mail listemize girin. </p>
								<form method="post" class="form-inline">
									<input name="EMAIL" id="email" placeholder="Mail adresiniz" class="form-control" type="email">
									<button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
								</form>
							</div>
						</div>
					</div> <!--  End Col -->

				</div>
			</div>

<hr>
    <center>
        <p class="copyright_text text-center">© www.dosyarive.com </p>
    </center>
		</footer>
